@import './styles/utilities.css';
@import './styles/base.css';
@import './styles/layout.css';
@import './styles/components.css';
@import './styles/splash.css';

.app-shell__noise,
.app-shell__grid,
.app-shell__vignette {
    pointer-events: none !important;
}
